@if(visible()) {
  <nav>
    <ul>
      <li><a routerLink="/testing-aa-testbed-basics">Testing A: Testbed-basics</a></li>
      <li><a routerLink="/testing-bb-testbed-debugelement">Testing B: Testbed-debugelement</a></li>
      <li><a routerLink="/testing-cc-testbed-directives-and-pipes">Testing C: Testbed-directives-and-pipes</a></li>
      <li><a routerLink="/testing-dd-testbed-services">Testing D: Testbed-services</a></li>
      <li><a routerLink="/testing-ee-jest-basics">Testing E: Jest-basics</a></li>
      <li><a routerLink="/testing-ff-testing-library">Testing F: Testing-library</a></li>
      <li><a routerLink="/testing-gg-marbles">Testing G: Marbles</a></li>
      <li><a routerLink="/testing-hh-routing">Testing H: Routing</a></li>
      <li><a routerLink="/testing-ii-integration-tests">Testing I: Integration-tests</a></li>
    </ul>
  </nav>
}
