@if(visible()) {
  <nav>
    <ul>
      <li><a routerLink="/testing-aa-testbed-basics">A) Testbed-Basics</a></li>
      <li><a routerLink="/testing-bb-testbed-debugelement">B) Testbed-DebugElement</a></li>
      <li><a routerLink="/testing-cc-testbed-directives-and-pipes">C) Testbed-directives-and-pipes</a></li>
      <li><a routerLink="/testing-dd-testbed-services">D) Testbed-services</a></li>
      <li><a routerLink="/testing-ee-jest-basics">E) Jest-basics</a></li>
      <li><a routerLink="/testing-ff-testing-library">F) Testing-library</a></li>
      <li><a routerLink="/testing-gg-marbles">G) Marbles</a></li>
      <li><a routerLink="/testing-hh-routing">H) Routing</a></li>
      <li><a routerLink="/testing-ii-integration-tests">I) Integration-tests</a></li>
    </ul>
    <ul>
      <li><a routerLink="/todo-app">Sample: Todo App</a></li>
    </ul>
  </nav>
}
